aws_region        = "ap-southeast-2"
project_name      = "aws-eks-devops-platform"
environment       = "dev"
vpc_cidr          = "10.0.0.0/16"
availability_zones = ["ap-southeast-2a", "ap-southeast-2b"]
cluster_version   = "1.33"
node_instance_type = "t3.medium"
node_desired_capacity = 2
node_min_size         = 2
node_max_size         = 3
frontend_repository_name = "aws-eks-devops-frontend"
backend_repository_name  = "aws-eks-devops-backend"
